## Assignments 2

## Function

### 1. Write a function add_numbers that takes two numbers as arguments and return their sum

In [5]:
def add(a,b):
    c=a+b
    print('a value is',a)
    print('b value is',b)
    print(c)

In [7]:
add(1,2)

a value is 1
b value is 2
3

## 2.Write a function multiply_numbers that takes two numbers as arguments and return their product.

In [10]:
def multiply(a,b):
    d=a*b
    print('a value is',a)
    print('b value is',b)
    print(d)

In [11]:
multiply(20,2)

a value is 20
b value is 2
40

## 3.Write a function divide_numbers that takes two numbers as arguments and return their quotient.Make sure to handlethe casewhere the second number is 0.

In [ ]:
def divide(a,b):
    m=a/b
    print('a value is',a)
    print('b value is',b)
    print(m)

In [13]:
m=(1,0)

## OOP'S CONCEPT

## 4. Write a function calculate_average that takes a list of numbers as an  argument and return their average?

In [14]:
def calculate_average(numbers):
    if not numbers :
        return 0
    total = sum(numbers)
    return total / len(numbers)

In [15]:
numbers_list=[10,2,4,6,7]
average=calculate_average(numbers_list)
print("Average:", average)

Average: 5.8

### 4.Create a class bank with attributes name and accounts.Add methods add_account,remove_account andget_total_balance that add anaccount from the list,and return the total  balance of all the accounts respectively

In [16]:
class Bank:
    def __init__(self, name):
        self.name = name
        self.accounts = []

    def add_account(self, account):
        self.accounts.append(account)

    def remove_account(self, account):
        if account in self.accounts:
            self.accounts.remove(account)
            print("Account removed successfully.")
        else:
            print("Account not found.")

    def get_total_balance(self):
        total_balance = sum(account.balance for account in self.accounts)
        return total_balance

In [17]:
class Account:
    def __init__(self, balance):
        self.balance = balance

bank = Bank("Example Bank")
account1 = Account(1000)
account2 = Account(2000)
account3 = Account(3000)

bank.add_account(account1)
bank.add_account(account2)
bank.add_account(account3)

print("Total balance of all accounts:", bank.get_total_balance())

bank.remove_account(account2)

print("Total balance of all accounts after removing one account:", bank.get_total_balance())

Total balance of all accounts: 6000
Account removed successfully.
Total balance of all accounts after removing one account: 4000